<table style="width:100%; margin-bottom:10px;">
                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        1.  कार्य के प्रति दृष्टिकोण

                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                        {% comment %} {{reported_data.grade_one}} {% endcomment %}
                                                       
                                                        {% if g_one >= 9.1 and g_one <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_one >= 7.1 and g_one <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_one >= 6.1 and g_one <= 7.0 %}
                                                         अच्छा (ख)
                                                        {% elif g_one >= 3.1 and g_one <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_one <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        2.  निर्णय लेने की क्षमता 
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                    {% if g_two >= 9.1 and g_two <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)  
                                                        {% elif g_two >= 7.1 and g_two <= 9.0 %}
                                                       बहुत अच्छा (क) 
                                                        {% elif g_two >= 6.1 and g_two <= 7.0 %}
                                                        अच्छा (ख)
                                                        {% elif g_two >= 3.1 and g_two <= 6.0 %}
                                                            औसत (ग) 
                                                        {% elif g_two <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ) (घ)
                                                        {% endif %}

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        3.   निर्णय लेने की क्षमता 
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                    {% if g_three >= 9.1 and g_three <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_three >= 7.1 and g_three <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_three >= 6.1 and g_three <= 7.0 %}
                                                        अच्छा (ख)
                                                        {% elif g_three >= 3.1 and g_three <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_three <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        4.  व्यक्तीगत संबंध एवं समूह कार्य
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                    {% if g_four >= 9.1 and g_four <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_four >= 7.1 and g_four <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_four >= 6.1 and g_four <= 7.0 %}
                                                       अच्छा (ख)
                                                        {% elif g_four >= 3.1 and g_four <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_four <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        5. कार्य का ज्ञान

                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                        {% if g_five >= 9.1 and g_five <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_five >= 7.1 and g_five <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_five >= 6.1 and g_five <= 7.0 %}
                                                         अच्छा (ख)
                                                        {% elif g_five >= 3.1 and g_five <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_five <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        6. कार्य की गुणवत्ता
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                      {% if g_six >= 9.1 and g_six <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_six >= 7.1 and g_six <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_six >= 6.1 and g_six <= 7.0 %}
                                                         अच्छा (ख)
                                                        {% elif g_six >= 3.1 and g_six <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_six <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                        7.  वर्ष की कार्य उत्पादकता
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:60px;padding:4px;">
                                                       {% if g_seven >= 9.1 and g_seven <= 10 %}
                                                           उत्कृष्ट/असाधारण प्रतिभाशाली  (क+)
                                                        {% elif g_seven >= 7.1 and g_seven <= 9.0 %}
                                                       बहुत अच्छा (क)
                                                        {% elif g_seven >= 6.1 and g_seven <= 7.0 %}
                                                       अच्छा (ख)
                                                        {% elif g_seven >= 3.1 and g_seven <= 6.0 %}
                                                            औसत (ग)
                                                        {% elif g_seven <= 3.0  %}
                                                            सेवा में जारी रखने योग्य नहीं (घ)
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                                <td style="width: 10%;">
                                                    <div style="text-align: left;">
                                                          विवरण :
                                                    </div>
                                                    <div style="border: 1px solid #000; font-size:14px; text-align:left; height:120px;padding:6px;">
                                                   
                                                      {{i.descriptions}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>