{% include 'full_header.html'%}
<style>
   button.btn.btn-success {
   cursor: pointer;
   }
   button.btn.btn-success[data-text="ACR Filled"] {
   pointer-events: none;
   }
</style>


<script>
   
</script>

{% comment %} 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> {% endcomment %}
{% comment %} <script  {% endcomment %}
<main>
<div class="container-fluid site-width">
   <!-- START: Breadcrumbs-->
   <div class="row ">
      <div class="col-12  align-self-center">
         <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto">
              <h4 class="mb-0">Trainee Appraisal</h4>
<p>Welcome to Trainee Appraisal Report Portal</p>
            </div>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
               <li class="breadcrumb-item"><a href="{% url 'Dashboard' %}">Home</a></li>
               <li class="breadcrumb-item">Tagging List</li>
            </ol>
         </div>
      </div>
   </div>
   <!-- END: Breadcrumbs-->
   <!-- START: Card Data-->
   <div class="row row-eq-height">
      <div class="col-12 col-lg-12 todo-menu-bar flip-menu pl-lg-3 pr-lg-3">
         <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
         <div class="card border h-100 contact-list-section">
            {% comment %} <div class="card-header border-bottom p-1 d-flex">
               <a href="#" class="d-inline-block d-lg-none flip-menu-toggle"><i class="icon-menu"></i></a>
               <!--                                <input type="text" class="form-control border-0 p-2 w-50 h-100 contact-search mr-5" placeholder="Search ...">-->
               <a href="#" class="list-style search-bar-menu border-0 active"><i class="icon-list"></i></a>
               <a href="#" class="grid-style search-bar-menu"><i class="icon-grid"></i></a> 
            </div> {% endcomment %}
            <div class="card-body">
               <div class="ed-tableinfo-block ed-orderinfo-block">
                  <div class="table-responsive">
                     <table id="example" class="table table-hover table-bordered display" id="view_offer">
                        <thead  class="table-dark">
                           <tr>
                              <th>S no.</th>
                              <th>Employee Name</th>
                              <th>From Date</th>
                              <th>To Date</th>
                              <th>Reporting Officer</th>
                              <th>Reviewing Officer</th>
                              <th>Accepting Officer</th>
                              <th>Location(region,Circle)</th>
                              <th>Hr</th>
                              <th>Hr Verification Status</th>
                           </tr>
                        </thead>
                        {% for data in final_data %}
                            {% if data %}
                              <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.empCode.fullName}}-{{data.empCode}}({{data.empCode.designation.name}})</td>
                                <td>{{data.fromDate}}</td>
                                <td>{{data.toDate}}</td>
                                <td>{{data.reportingOfficer}}</td>
                                <td>{{data.reviewingOfficer}}</td>
                                <td>{{data.acceptingOfficer}}</td>
                                <td>{{data.empCode.region.name}},{{data.empCode.circle.name}},{{data.empCode.division.name}},{{data.empCode.subDivision.name}},{{data.empCode.dc.name}}</td>
                                <td>{{data.hrManager}}-{{data.hrManagerCode}}</td>
                                <td>
                                 {% if data.isFinal %}
                                    <button class="btn btn-secondary" disabled>Yes</button>
                                 {% else %}
                                    <button class="btn btn-secondary" disabled>Yes</button>

                                 {% endif %}
                                </td>
                           
                              </tr>
                            {% else %}                                    
                                 <h6> No Data Found</h6>                                            
                                {% endif %} 
                                {% endfor %}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'full_footer.html'%}
{% comment %} 
<script>
   $(document).ready(function () {
     alert();
     $('#view_offer').DataTable({
         pagingType: 'full_numbers',
     });
     alert();
   });
</script> {% endcomment %}


{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css"> {% endcomment %}

<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>


<script>
  $(document).ready(function() { 
      $('#example').DataTable({
          "paging": true,
          "lengthMenu": [10, 25, 50, 100], // You can set the pagination options here
          "pageLength": 50 // Default number of rows per page
      }); 
  });
</script>

<style>
.dataTables_wrapper {
    display: block !important;
}

</style>