        <!-- START: Footer-->
        <footer class="site-footer">
            2023 &copy; MPMKVVCL BHOPAL IT CELL
        </footer>
        <!-- END: Footer-->
        <!-- START: Back to top-->
        <a href="#" class="scrollup text-center"> 
            <i class="icon-arrow-up"></i>
        </a>
        <!-- END: Back to top-->


        <!-- START: Template JS-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
<!--        <script src="/static/vendors/jquery/jquery-3.6.3.min.js"></script>-->
        <script src="/static/vendors/jquery/jquerys.js"></script>
        <script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
        <script src="/static/vendors/moment/moment.js"></script>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha512-cJMgI2OtiquRH4L9u+WQW+mz828vmdp9ljOcm/vKTQ7+ydQUktrPVewlykMgozPP+NUBbHdeifE6iJ6UVjNw5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--        <script src="/static/vendors/slimscroll/jquery.slimscroll.min.js"></script>-->
        <script src="/static/vendors/slimscroll/slimscroll.js"></script>
        <!-- END: Template JS-->

        <!-- START: APP JS-->

        <script src="/static/vendors/quill/quill.min.js"></script>
        <script src="/static/js/mail.script.js"></script>
        <!-- END: APP JS-->


        <!-- START: Page Vendor JS-->
        <script src="/static/vendors/raphael/raphael.min.js"></script>
        <script src="/static/vendors/morris/morris.min.js"></script>
        <script src="/static/vendors/chartjs/Chart.min.js"></script>
        <script src="/static/vendors/starrr/starrr.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.canvaswrapper.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.colorhelpers.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.saturated.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.browser.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.drawSeries.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.uiConstants.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.legend.js"></script>
        <script src="/static/vendors/jquery-flot/jquery.flot.pie.js"></script>
        <script src="/static/vendors/chartjs/Chart.min.js"></script>
        <script src="/static/vendors/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
        <script src="/static/vendors/jquery-jvectormap/jquery-jvectormap-world-mill.js"></script>
        <script src="/static/vendors/jquery-jvectormap/jquery-jvectormap-de-merc.js"></script>
        <script src="/static/vendors/jquery-jvectormap/jquery-jvectormap-us-aea.js"></script>
        <script src="/static/vendors/apexcharts/apexcharts.min.js"></script>
        <script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- END: Page Vendor JS-->

        <!-- START: Page JS-->
        <script src="/static/js/home.script.js"></script>
        <script src="/static/js/app.js"></script>
<!--        <script src="/static/js/app.js"></script>-->
        <script src="/static/js/app.contactlist.js"></script>
        <script src="/static/vendors/select2/js/select2.full.min.js"></script>
        <script src="/static/js/select2.script.js"></script>

        <!-- START: Page Jsgrid Script JS-->
        <script src="/static/vendors/jsgrid/jsgrid.min.js"></script>
        <script src="/static/vendors/jsgrid/db.js"></script>
        <script src="/static/js/jsgrid.script.js"></script>
        <!-- END: Page Jsgrid Script JS-->


        <!-- END: Page JS-->
        <script type="text/javascript">
        document.addEventListener('contextmenu', event => event.preventDefault());
        document.onkeydown = function (e) {

           // disable F12 key
           if(e.keyCode == 123) {
               return false;
           }

           // disable I key
           if(e.ctrlKey && e.shiftKey && e.keyCode == 73){
               return false;
           }

           // disable J key
           if(e.ctrlKey && e.shiftKey && e.keyCode == 74) {
               return false;
           }

           // disable U key
           if(e.ctrlKey && e.keyCode == 85) {
               return false;
           }
        }
        </script>

    </body>
    <!-- END: Body-->

</html>
