 {% include 'full_header.html'%}
        <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">ACR Portal</h4> <p>Welcome to ACR Portal</p></div>
                            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                                <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->
                <!-- START: Card Data-->

                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4 mt-0">
                        <a href="/tagging/"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">                                   
                                    <div class="d-flex">                                        
                                        <img src="/static/images/aauthor1.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Employee Tagging</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Employee Tagging</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    {% comment %} <div class="col-12 col-md-4 col-lg-4 mt-0">
                        <a href="{% url 'appraise_view' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor2.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Appraisee</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Appraisee</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-12 col-md-4 col-lg-4 mt-0">
                        <a href="{% url 'acr_pdf_view' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor0.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">ACR Pdf</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">ACR Pdf's</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'reporting_view' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor4.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Reporting Officer</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Reporting Officer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'reviewing_view' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor5.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Reviewing Officer</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Reviewing Officer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'accepting_view' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor6.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Accepting Officer</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Accepting Officer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div> {% endcomment %}

                    {% comment %} <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'reporting_class_3' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor7.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Reporting (Class-3)</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Reporting (Class-3)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'reviewing_class_3' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor8.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Reviewing (Class-3)</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Reviewing (Class-3)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="{% url 'accepting_class_3' %}"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor9.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Accepting (Class-3)</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Accepting (Class-3)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div> {% endcomment %}

                    {% for grp in user.groups.all %} {% if grp.name == "Hr" and user.isManagerHr %}
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="/mis/"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor1.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">MIS/Dashboard</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">MIS/Dashboard</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="#"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor0.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">Old ACR Pdf</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Old ACR Pdf</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3">
                        <a href="#"><div class="card border-bottom-0">
                            <div class="card-content border-bottom border-primary border-w-5">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <img src="/static/images/aauthor7.png" alt="author" width="55" class="rounded-circle  ml-auto">
                                        <div class="media-body align-self-center pl-3">
                                            <span class="mb-0 font-w-600">ACR Representation</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">ACR Representation</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    {% endif %} {% endfor %}
                </div>

                <!-- END: Card DATA-->
            </div>
        </main>
        <!-- END: Content-->

     <script>
        {% if messages %}
            {% for message in messages %}
               Swal.fire({
                    title: 'Error',
                    icon: 'error',
                    text: "{{ message }}",
                    confirmButtonText: 'OK'
               });
            {% endfor %}
        {% endif %}
    </script>

 {% include 'full_footer.html'%}
